{% extends "style.html" %}

{% block title %}Carrito{% endblock %}

{% block style %}basket{% endblock %}

{% block script %}<script src="scripts/cookies.js"></script>{% endblock %}

{% block menu %}
<a href="last">Últimas Películas</a>
<a href="history">Historial de Compra</a>
<p>Carrito</p>
{% endblock %}

{% block content %}
<h1>Carrito de Compra</h1>

{% if films %}

<p id="total-price">Precio Total: <b id="real-price">{{ precioTotal }} €</b></p>

{% for film in films %}


<div class="film" id="{{ loop.index }}film">
    <a  href="fullFilm/{{ film.link }}">
	<div class="film_image">
		<img src="{{ film.poster }}" alt="SW-8"/>
	</div>
	<div class="container">
		<p>{{ film.titulo }}</p>
		<h1>Descripción: </h1><div>{{ film.desc }}</div>
	</div>
    </a>
	<div class="delete available" title="Costo" onclick="removeFromBasket('{{loop.index}}film', '{{ film.titulo }}', true)">Eliminar</div>
	<p class="price">{{ film.precio }} €</p>
</div>

{% endfor %}

<a href="/pay" class="buy bought">Tramitar Compra</a>

{% else %}
<p id="nothing">No hay nada que mostrar</p>
{% endif %}

{% endblock %}

