{% extends "style.html" %}

{% block title %}Carrito{% endblock %}

{% block style %}basket{% endblock %}

{% block menu %}
<a href="last">Últimas Películas</a>
<a href="history">Historial de Compra</a>
<p>Carrito</p>
{% endblock %}

{% block content %}
<h1>Carrito de Compra</h1>
<p id="total-price">Precio Total: <b>45 €</b></p>

{% for film in films %}

<a  href="fullFilm">
	<div class="film">
		<div class="film_image">
			<img src="images/cartel-SWLosultimosjedi.jpg" alt="SW-8"/>
		</div>
		<div class="container">
			<p>film.name</p>
			<h1>Descripción: </h1><div>film.description</div>
		</div>
		<div class="delete available" title="Costo">Eliminar</div>
		<p class="price">film.price</p>
	</div>
</a>
{% endfor %}

<a class="buy bought">Tramitar Compra</a>
{% endblock %}

