{% extends "style.html" %}

{% block title %}Carrito{% endblock %}

{% block style %}basket{% endblock %}

{% block script %}<script src="/templates/scripts/cookies.js"></script>{% endblock %}

{% block menu %}
<a href="/server.wsgi/">Últimas Películas</a>
<a href="/server.wsgi/history">Historial de Compra</a>
<p>Carrito</p>
{% endblock %}

{% block content %}
<h1>Carrito de Compra</h1>

{% if films %}

<p id="total-price">Precio Total: <b id="real-price">{{ precioTotal }} €</b></p>

{% for film in films %}


<div class="film" id="{{ loop.index }}film">
    <a  href="/server.wsgi/fullFilm/{{ film.link }}">
	<div class="film_image">
		<img src="{{ film.poster }}" alt="SW-8"/>
	</div>
	<div class="container">
		<p>{{ film.titulo }}</p>
		<h1>Descripción: </h1><div>{{ film.desc }}</div>
	</div>
    </a>
	<input type="number" id="{{ loop.index }}input" value="{{ film.number }}" class="input_text small"/>
	<a class="okey" onclick="changeNumber('{{ loop.index }}', '{{ film.titulo }}')">OK</a>
	<div class="delete available" title="Costo" onclick="removeFromBasket('{{loop.index}}film', '{{ film.titulo }}', true)">Eliminar</div>
	<p class="price" id="{{ loop.index }}price">{{ film.precio }} €</p>
</div>

{% endfor %}

{% if user %}
<a href="/server.wsgi/pay" class="buy bought">Tramitar Compra</a>
{% else %}
<a href="/server.wsgi/login" class="buy bought">Identifiquese</a>
{% endif %}

{% else %}
<p id="nothing">No hay nada que mostrar</p>
{% endif %}

{% endblock %}

