{% extends "style.html" %}

{% block title %}{{peliculas.titulo}}{% endblock %}

{% block style %}fullFilm{% endblock %}

{% block menu %}	
<a href="last">Últimas Películas</a>
<a href="history">Historial de Compra</a>
<a href="basket">Carrito</a>
{% endblock %}

{% block content %}
<!--<a href="javascript:history.back()">Go Back</a>-->
<div id="film">

	<div id="screen_shot">
		<hr>
		<img src="{{ peliculas.imgfondo }}" alt="{{ peliculas.imgfondo }}"/>
		<!-- https://data.whicdn.com/images/299003575/original.gif -->
	</div>
	<div id="cover">
		<img src="{{ peliculas.poster }}" alt="{{ peliculas.poster }}"/>
	</div>
	<h1>{{ peli.titulo }}</h1>
	<div id="state_full" class="state available" title="Costo">Desde {{ peliculas.precio }} €</div>
	<a class="status-basket">
		Añadir al carrito 
		<div><img src="images/carrito-plus.png" alt="carrito"/></div>
	</a>
</div>

<div id="description">

	<div><h1>Director: </h1><p>{{peliculas.director}}</p><br></div>
	<div><h1>Fecha de estreno: </h1><p>{{peliculas.estreno}}</p><br></div>
	<div><h1>Descripción: </h1><p>{{peliculas.desc}}</p><br></div>

</div>
{% endblock %}
