{% extends "style.html" %}

{% block title %}{{peliculas.titulo}}{% endblock %}

{% block style %}
		<link rel="stylesheet" href="{{ url_for('styles', filename='fullFilm.css') }}">
{% endblock %}

{% block script %}<script src="{{ url_for('scripts', filename='cookies.js') }}"></script>{% endblock %}

{% block content %}
<!--<a href="javascript:history.back()">Go Back</a>-->
<div id="film">

	<div id="screen_shot">
		<hr>
		<img src="{{ url_for('images', filename=peliculas.imgfondo) }}" alt="{{ peliculas.imgfondo }}"/>
		<!-- https://data.whicdn.com/images/299003575/original.gif -->
	</div>
	<div id="cover">
		<img src="{{ url_for('images', filename=peliculas.poster) }}" alt="{{ peliculas.poster }}"/>
	</div>
	<h1>{{ peliculas.titulo }}</h1>
	<div id="state_full" class="state available" title="Costo">Desde {{ peliculas.precio }} €</div>
	{% if user %}
		<a class="status-basket" onclick="addToBasket(this, '{{ peliculas.titulo|safe }}', 'full')">
			<span id="desc-basket">Añadir al carrito</span>
			<div><img id="imagen-basket" src="{{ url_for('images', filename='carrito-plus.png') }}" alt="carrito"/></div>
		</a>
        
	{% endif %}
</div>

<div id="description">

	<div><h1>Director: </h1><p>{{peliculas.director}}</p><br></div>
	<div><h1>Fecha de estreno: </h1><p>{{peliculas.estreno}}</p><br></div>
	<div><h1>Descripción: </h1><p>{{peliculas.desc}}</p><br></div>

</div>
{% endblock %}
