{% extends "style.html" %}

{% block title %}Historial de Compra{% endblock %}

{% block style %}history{% endblock %}

{% block script %}<script src="/templates/scripts/history.js"></script>{% endblock %}

{% block menu %}
<a href="/server.wsgi/">Últimas Películas</a>
<p>Historial de Compra</p>
<a href="/server.wsgi/basket">Carrito</a>
{% endblock %}

{% block content %}
<h1>Historial de Compra</h1>

<table>

	<tr>
		<th class="date">Fecha de Compra</th> <th class="name">Películas Compradas</th> <th class="price">Precio</th>
	</tr>
	
	{% if peliculas %}
	{% for film in peliculas %}
	<tr>
		<td class="date">{{ film.date }}</td> 
		<td id="{{ loop.index }}general" onclick="setVisible('{{ loop.index }}')" title="Pulsar aquí para desplegar" style="cursor: pointer;">
			<table id="{{ loop.index }}purchase" style="display: none;">
				<tr>
					<th class="name">Nombre de la Película</th> <th class="price">Cantidad</th> <th class="price">Precio</th>
				</tr>
				{% for peli in film.films %}
				<tr>
					<td>{{ peli.name }}</td> <td class="price">{{ peli.number }}</td> <td class="price">{{ peli.price }}</td>
				</tr>
				{% endfor %}
			</table>
		</td> 
		<td class="price">{{ film.price }}</td>
		
		
	</tr>
	{% endfor %}
</table>
	{% else %}
</table>
	<p id="nothing">No hay nada que mostrar</p>
	{% endif %}

{% endblock %}


