<!DOCTYPE html>

<html lang="es">
	<head>
        <title>Nitflix</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<link rel="shortcut icon" href="images/logotipo-aux.png" type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="styles/index.css">
		<link rel="stylesheet" type="text/css" href="styles/general.css">
		<script src="scripts/check.js"></script>
		<script src="scripts/login.js"></script>
		<script src="scripts/cookies.js"></script>
	</head>
	<body onload="setLogin()">
    
		{% block log %}<div id="log"></div>{% endblock %}
    
		<div id="login">
        
            <img id="img_log" src="images/logotipo-aux.png" alt="logo-grande"/>
        
			<div id="login_ent">
				
				<form action="/login" method="POST" onsubmit="return check()">
					<div class="input_mark">
						<input {% block classN %}class="input_text"{% endblock %} type="text" placeholder="Usuario" name="username" id="name">
					</div><br>
					<div class="input_mark">
						<input {% block classP %}class="input_text"{% endblock %} type="password" placeholder="Contrase&ntilde;a" name="password" id="password">
					</div>
					<br>
					<input type="checkbox" name="keep" id="keepSession">Recordarme</input>
					<br>
					<input class="button" type="submit" value="Entrar">
				</form> 
			</div>
			<a id="registro" href="sing_up">Registrarme</a>
		</div>
		
		 
		<div class="footer"><p>Alberto Moreno Brasero y Jorge Mu&ntilde;oz Aguado</p></div>
	</body>
</html>
