{% extends "style.html" %}

{% block title %}Últimas Películas{% endblock %}

{% block style %}last{% endblock %}

{% block script %}<script src="scripts/cookies.js"></script>{% endblock %}

{% block menu %}
<p>Últimas Películas</p>
<a href="history">Historial de Compra</a>
<a href="basket">Carrito</a>
{% endblock %}

{% block content %}
	<h1>Últimas Películas</h1>
{% for peli in peliculas %}
	<a href="fullFilm">
		<div class="film">
			<div class="film_image">
				<div class="state available" title="Costo">Desde {{ peli.precio }} €</div>
				<img src="{{ peli.poster }}" alt="{{ peli.poster }}"/>
			</div>
			<div class="container">
				<p>{{ peli.titulo }}</p>
				<a class="add-basket" onclick="addToBasket(this, '{{ peli.titulo|safe }}', 'fullFilm')" title="Quitar del Carrito"><img src="images/carrito-plus.png" alt="carrito-plus.png"/></a>
			</div>
		</div>
	</a>
{% endfor %}

{% endblock %}
