{% extends "style.html" %}

{% block title %}{% if search %}Resultados de la Busqueda{% else %}Últimas Películas{% endif %}{% endblock %}

{% block style %}
		<link rel="stylesheet" href="{{ url_for('styles', filename='last.css') }}">
{% endblock %}

{% block script %}<script src="{{ url_for('scripts', filename='cookies.js') }}"></script>{% endblock %}

{% block menu %}
	{% if search %}
		<a href="{{ url_for('index') }}">Últimas Películas</a>
		<a href="{{ url_for('history') }}">Historial de Compra</a>
		<a href="{{ url_for('basket') }}">Carrito</a>
		<p>Resultados de la Búsqueda</p>
	{% else %}
		<p>Últimas Películas</p>
		<a href="{{ url_for('history') }}">Historial de Compra</a>
		<a href="{{ url_for('basket') }}">Carrito</a>
	{% endif %}
{% endblock %}

{% block content %}
	{% if search %}
		<h1>Resultados de la b&uacute;squeda</h1>
	{% else %}
		<h1>Últimas Películas</h1>
	{% endif %}
{% if dict_peliculas %}
	{% set verdadero= "True" %}
	{% for peli,carrito in dict_peliculas.iteritems() %}
		
		<div class="film">
			<a href="{{ url_for('fullFilm', name=peli.link) }}">
			<div class="film_image">
				<div class="state available" title="Costo">Desde {{ peli.precio }} €</div>
				<img src="{{ url_for('images', filename=peli.poster) }}"  alt="{{ peli.poster }}"/>
			</div>
			</a>
			<div class="container">
				<a href="{{ url_for('fullFilm', name=peli.link) }}"><p>{{ peli.titulo }}</p></a>
					{% if carrito != verdadero %}
	                    <div class="add-basket" onclick="addToBasket(this, '{{ peli.titulo|safe }}', '')"><img src="{{ url_for('images', filename='carrito-plus.png') }}" alt="carrito"/></div>
					{% else %}
						<div class="add-basket basket-get" onclick="removeFromBasket(this, '{{ peli.titulo|safe }}', '')"><img src="{{ url_for('images', filename='carrito-less.png') }}" alt="carrito"></div>
					{% endif %}
			</div>
		</div>
		
	{% endfor %}
{% elif peliculas %}
	{% for peli in peliculas %}
		
		<div class="film">
			<a href="{{ url_for('fullFilm', name=peli.link) }}">
			<div class="film_image">
				<div class="state available" title="Costo">Desde {{ peli.precio }} €</div>
				<img src="{{ url_for('images', filename=peli.poster) }}" alt="{{ peli.poster }}"/>
			</div>
			</a>
			<div class="container">
				<a href="{{ url_for('fullFilm', name=peli.link) }}"><p>{{ peli.titulo }}</p></a>
	                    <div class="add-basket" onclick="addToBasket(this, '{{ peli.titulo|safe }}', '')"><img src="{{ url_for('images', filename='carrito-plus.png') }}" alt="carrito"/></div>
			</div>
		</div>
		
	{% endfor %}
{% else %}
	<p id="nothing">No se ha encontrado ninguna pel&iacute;cula.</p>
{% endif %}

{% endblock %}
