<!DOCTYPE html>
<html lang="es">
	<head>
		<link rel="shortcut icon" href="images/logotipo-aux.png" type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="/styles/pay.css">
		<link rel="stylesheet" type="text/css" href="/styles/general.css">
		<script src="/scripts/pay.js"></script>
		<title>Nitflix: Tramitar compra</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	</head>
	<body>
	
        {% block log %}<div id="log" class="okey">TODO CORRECTO<div id="close" onclick="document.getElementById('log').style.display = 'none';">x</div></div>{% endblock %}
	
        <div id="center">
		
            <h1>Tramitar Compra</h1>
            <div id="user">
                <img src="/images/imagen.jpg" alt="Foto perfil" id="user_logo"/>
    			<h1>{{ user.name }}</h1>
            </div>
            <hr>
            <p><strong>Fecha de pago:</strong> <span>{{ date }}</span></p>
            <p><strong>Tarjeta:</strong> <span>{{ user.ccard }}</span></p>
            <hr>
			<p><strong>Saldo:</strong> <span> €</span><input type="number" value="{{ user.balance }}" id="balance" onfocusout="addBalance()"/></p>
            <p><strong>Precio Total:</strong> <span>{{ price }} €</span></p>
            <form name="pay" action="/pay" method="post">
                <button class="submit">Pagar</button>
            </form>
            <a href="/basket" class="submit cancel">Cancelar</a>
            
        </div>
	</body>
</html>