<!DOCTYPE html>
<html lang="es">
	<head>
		<link rel="shortcut icon" href="images/logotipo-aux.png" type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="/styles/pay.css">
		<link rel="stylesheet" type="text/css" href="/styles/general.css">
		<title>Nitflix: Tramitar compra</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	</head>
	<body>
		<div id="center">
        
            <h1>Tramitar Compra</h1>
            <div id="user">
                <img src="/images/imagen.jpg" alt="Foto perfil" id="user_logo"/>
    			<h1>{{ user.name }}</h1>
            </div>
            <hr>
            <p><strong>Fecha de pago:</strong> <span>{{ date }}</span></p>
            <p><strong>Tarjeta:</strong> <span>{{ user.ccard }}</span></p>
            <hr>
			<p><strong>Saldo:</strong> <span>{{ user.balance }} €</span></p>
            <p><strong>Precio Total:</strong> <span>{{ price }} €</span></p>
            <form name="pay" action="/pay" method="post">
                <button class="submit">Pagar</button>
            </form>
            <a href="/basket" class="submit cancel">Cancelar</a>
            
        </div>
	</body>
</html>