<!DOCTYPE html>
<html lang="es">
	<head>
		<link rel="shortcut icon" href="images/logotipo-aux.png" type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="styles/pay.css">
		<link rel="stylesheet" type="text/css" href="styles/general.css">
		<title>Nitflix: Tramitar compra</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	</head>
	<body>
		<div id="center">
        
            <h1>Tramitar Compra</h1>
            <div id="user">
                <img src="images/imagen.jpg" alt="Foto perfil" id="user_logo"/>
    			    <h1>Jorge Muñoz Aguado</h1>
            </div>
            <hr>
            <p><strong>Fecha de pago:</strong> <span>24/10/2018</span></p>
            <p><strong>Tarjeta:</strong> <span>1234567890</span></p>
            <hr>
            <p><strong>Precio Total:</strong> <span>23 €</span></p>
            <a class="submit">Pagar</a>
            <a class="submit cancel">Cancelar</a>
            
        </div>
	</body>
</html>