<!DOCTYPE html>
<html lang="es">
	<head>
		<link rel="shortcut icon" href="images/logotipo-aux.png" type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="styles/registro.css">
		<link rel="stylesheet" type="text/css" href="styles/general.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="scripts/registro.js"></script>
		<title>Nitflix: Registro</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	</head>
	<body>
		<div id="fondoR">
			<h1 id="tit-form">Formulario de registro</h1><br>
			<form action="sign.html" method="POST">
				<div class="datos">
					Datos de usuario:<br>
						<input required class="input_text" type="text" placeholder="Nombre de usuario" name="nombre">
					<br>
						<input required class="input_text" type="password" placeholder="Contrase&ntilde;a" name="password">
					<br>
						<div id="medidor">
						</div>
					<br>
						<input required class="input_text" type="password" placeholder="Repetir contrase&ntilde;a" name="repite">
					<br>
						<input required class="input_text" type="text" placeholder="E-mail" name="email">
				</div>
				<div class="datos" id="tarjeta">
					Datos de la tarjeta:<br>
					<input required class="input_text" type="text" placeholder="Tarjeta de credito" name="tarjeta" maxlength="16">
					
					<input required class="input_text" type="text" placeholder="Titular de la tarjeta" name="titular">
					
					<input required class="input_text" id="ccv" type="text" placeholder="CCV" name="ccv" maxlength="3" size="3">
					<br>
					Fecha de caducidad de la tarjeta:
					<div class="fecha">
						<br>Mes:<br>
						<select required name="mes" class="input_text especial">
							<option value="">-</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
						</select>
					</div>
					<div class="fecha">
						A&ntilde;o:<br>
						<select required name="anno" class="input_text especial">  
							<option value="">-</option>
							<option value="2018">2018</option>
							<option value="2019">2019</option>
							<option value="2020">2020</option>
							<option value="2021">2021</option>
							<option value="2022">2022</option>
						</select>
					</div>
					<br>
				</div>
				<div class="datos">
					<div class="generos">
						<p>
							Generos de inter&eacute;s:<br>
							<input name="accion" value="accion" type="checkbox">
							Acci&oacute;n
							<br>
							<input name="animacion" value="animacion" type="checkbox">
							Animaci&oacute;n
							<br>
							<input name="aventura" value="aventura" type="checkbox">
							Aventura
							<br>
							<input name="cienciafic" value="cienciafic" type="checkbox">
							Ciencia-ficci&oacute;n
							<br>
							<input name="comedia" value="comedia" type="checkbox">
							Comedia
						</p>
					</div>
					<div class="generos">
						<p>
							<input name="crimen" value="crimen" type="checkbox">
							Crimen
							<br>
							<input name="documental" value="documental" type="checkbox">
							Documental
							<br>
							<input name="drama" value="drama" type="checkbox">
							Drama
							<br>
							<input name="familia" value="familia" type="checkbox">
							Familia
							<br>
							<input name="fantasia" value="fantasia" type="checkbox">
							Fantas&iacute;a
						</p>
					</div>
					<div class="generos">
						<p>
							<input name="guerra" value="guerra" type="checkbox">
							Guerra
							<br>
							<input name="historia" value="historia" type="checkbox">
							Historia
							<br>
							<input name="ninnos" value="ninnos" type="checkbox">
							Ni&ntilde;os
							<br>
							<input name="misterio" value="misterio" type="checkbox">
							Misterio
							<br>
							<input name="romance" value="romance" type="checkbox">
							Romance
							<br>
						</p>
					</div>
					<div class="generos">
						<p>
							<input name="suspense" value="suspense" type="checkbox">
							Suspense
							<br>
							<input name="western" value="western" type="checkbox">
							Western
							<br>
						</p>
					</div>
				</div>
				<br>
				<input class="button" id="botoncillo1" type="submit" value="Enviar">
				<input class="button" id="botoncillo2" type="reset" value="Borrar">
			</form>
		</div> 
		<div class="footer"><p>Alberto Moreno Brasero y Jorge Mu&ntilde;oz Aguado</p></div>
	</body>
</html>