<!DOCTYPE html>
<html lang="es">
	<head>
		<link rel="shortcut icon" href="/static/images/logotipo-aux.png" type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="/templates/styles/registro.css">
		<link rel="stylesheet" type="text/css" href="/templates/styles/general.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="/templates/scripts/registro.js"></script>
	    <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
	    <link href="/templates/styles/main.css" rel="stylesheet" />
	    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
	    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	    <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	    <script src="/templates/scripts/password-meter.js"></script>
		<title>Nitflix: Registro</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	</head>
	<body>
		<div id="fondoR">
			<h1 id="tit-form">Formulario de registro</h1><br>
			<form name="formularioReg" action="/server.wsgi/sing_in" method="POST">
				<div class="datos">
					Datos de usuario:<br>
						<input required class="input_text" type="text" placeholder="Nombre de usuario" name="nombre" id="nombre" onkeyup="checkUser();">
					<br>
					<div id="usuarioRes">
					</div>
				    <div id="divPassword">
				        <input type="password" id="password" class="input_text password left" name="password" placeholder="Contrase&ntilde;a" />
				        <div class="input_text password-meter left">
				            <div class="password-strength"></div>
				        </div>
				    <br>
				    <br>
				    <br>
						<!--input required class="input_text" type="password" placeholder="Contrase&ntilde;a" name="password" id="txtPassword" onkeyup="checkPassword();">
					<br-->
						<input required class="input_text" type="password" placeholder="Repetir contrase&ntilde;a" name="repite" id="repite"  onkeyup="checkPassword();">
						<div id="contraIgual">
						</div>
				    </div>

					<br>
						<input required class="input_text" type="text" placeholder="E-mail" name="email" id="email">
				</div>
				<div class="datos" id="tarjeta">
					Datos de la tarjeta:<br>
					<input required class="input_text" type="text" placeholder="Tarjeta de credito" name="tarjetaValor" id="tarjetaValor" maxlength="16">

				</div>
			{% if msg %}
			<br><br>
				<div id="errorServidor">
					<p>{{msg}}</p>
				</div>
			{% endif %}
				<div id="errorJavascript">
				</div>
				<br>
				<input class="button" type="button" onclick="history.back()" id="botonCancelar" value="Cancelar">
				<input class="button" id="botoncillo1" type="button" value="Enviar" onclick="checkForm()">
				<input class="button" id="botoncillo2" type="reset" value="Borrar">
			</form>

		</div> 
		<div class="footer"><p>Alberto Moreno Brasero y Jorge Mu&ntilde;oz Aguado</p></div>
	    <script>
	        $(document).ready(function () {
	            $('#divPassword').PasswordMeter();
	        });
	    </script>
	</body>

</html>
