<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}{% endblock %}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<link rel="stylesheet" href="/templates/styles/{% block style %}{% endblock %}.css">
		<link rel="stylesheet" href="/templates/styles/general.css">
		<link rel="stylesheet" href="/templates/styles/styles.css">
		<link rel="shortcut icon" href="/static/images/logotipo-aux.png" type="/image/x-icon">
        <script src="/templates/scripts/style.js"></script>
        {% block script %}{% endblock %}
	</head>
	<body>
		<div id="header">
		
            <a href="/server.wsgi/">
        			<div id="logo">
        				<img src="/static/images/logotipo.png" alt="logo"/>
        			</div>
			</a>
            
			<a href="/server.wsgi/basket">
				<div id="carrito">
					<img src="/static/images/carrito.png" alt="carrito"/>
				</div>
			</a>
			
		</div>
		
		<div id="menu">
			
			<div id="user_info">
			
				{% if user %}
				<img src="/static/images/imagen.jpg" alt="foto-perfil"/>
				<h1>{{ user }}</h1>
				<a href="/server.wsgi/close" id="botonCerrarSesion">Cerrar Sesión</a>
				{% else %}
				<h1>Usuario no identificado</h1>
				<a href="/server.wsgi/login" id="botonLogin">Identifiquese</a><br>
				<a href="/server.wsgi/sing_in" id="botonRegistro">Registrarse</a>
				{% endif %}
			
                <div id="conec_u">Usuarios conectados: <span id="conected_users">4</span></div>
            
			</div>
			
			<div class="links">
				
                {% if user %}
        				{% block menu %}
        				<a href="/server.wsgi">Últimas Películas</a>
        				<a href="/server.wsgi/history">Historial de Compra</a>
        				<a href="/server.wsgi/basket">Carrito</a>
        				{% endblock %}
                {% else %}
    				{% if search %}
						<a href="/server.wsgi">Últimas Películas</a>
						<a href="/server.wsgi/basket">Carrito</a>
						<p>Resultados de la Búsqueda</p>
					{% else %}
						<a href="/server.wsgi">Últimas Películas</a>
						<a href="/server.wsgi/basket">Carrito</a>
					{% endif %}
				{% endif %}
				
			</div>
			
			<div id="search">
			
				<form action="/server.wsgi/search" method="GET">
					<input type="text" name="search" placeholder="Buscar" class="input_text especial">
					<select name="programa" class="input_text especial">    
					   <option value="titulo" selected="selected">Titulo</option>
					   <option value="director">Director</option>
					</select>
					<input id="button_search" type="submit" value="Submit" class="button">
				</form> 
			
			</div>
			
		</div>
		
		<div id="body">
			
			{% block content %}{% endblock %}
		
		</div>
		<div class="footer">
		
			<p>Alberto Moreno Brasero y Jorge Muñoz Aguado</p>
		
		</div>
	</body>
</html>
