<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}{% endblock %}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<link rel="stylesheet" href="/styles/{% block style %}{% endblock %}.css">
		<link rel="stylesheet" href="/styles/general.css">
		<link rel="stylesheet" href="/styles/styles.css">
		<link rel="shortcut icon" href="/images/logotipo-aux.png" type="/image/x-icon">
        {% block script %}{% endblock %}
	</head>
	<body>
		<div id="header">
		
            <a href="/">
        			<div id="logo">
        				<img src="/images/logotipo.png" alt="logo"/>
        			</div>
			</a>
            
            {% if user %}
			<a href="/basket">
				<div id="carrito">
					<img src="/images/carrito.png" alt="carrito"/>
				</div>
			</a>
            {% endif %}
			
		</div>
		
		<div id="menu">
			
			<div id="user_info">
			
				{% if user %}
				<img src="/images/imagen.jpg" alt="foto-perfil"/>
				<h1>{{ user }}</h1>
				<a href="/close" id="botonCerrarSesion">Cerrar Sesión</a>
				{% else %}
				<h1>Usuario no identificado</h1>
				<a href="/login" id="botonLogin">Identifiquese</a><br>
				<a href="/sing_in" id="botonRegistro">Registrarse</a>
				{% endif %}
			
			</div>
			
			<div class="links">
				
                {% if user %}
        				{% block menu %}
        				<a href="/">Últimas Películas</a>
        				<a href="/history">Historial de Compra</a>
        				<a href="/basket">Carrito</a>
        				{% endblock %}
                {% else %}
    				{% if search %}
                    		<a href="/">Últimas Películas</a>
                    		<p>Resultados de la Búsqueda</p>
                    	{% else %}
                    		<a href="/">Últimas Películas</a>
                    	{% endif %}
				{% endif %}
				
			</div>
			
			<div id="search">
			
				<form action="search" method="GET">
					<input type="text" name="search" placeholder="Buscar" class="input_text especial">
					<select name="programa" class="input_text especial">    
					   <option value="titulo" selected="selected">Titulo</option>
					   <option value="director">Director</option>
					</select>
					<input id="button_search" type="submit" value="Submit" class="button">
				</form> 
			
			</div>
			
		</div>
		
		<div id="body">
			
			{% block content %}{% endblock %}
		
		</div>
		<div class="footer">
		
			<p>Alberto Moreno Brasero y Jorge Muñoz Aguado</p>
		
		</div>
	</body>
</html>
