<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}{% endblock %}</title>
		{% block style %}{% endblock %}
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<link rel="stylesheet" href="{{ url_for('styles', filename='general.css') }}">
		<link rel="stylesheet" href="{{ url_for('styles', filename='styles.css') }}">
		<link rel="shortcut icon" href="{{ url_for('images', filename='logotipo-aux.png') }}" type="/image/x-icon">
        <script src="{{ url_for('scripts', filename='style.js') }}"></script>
        {% block script %}{% endblock %}
	</head>
	<body>
		<div id="header">
		
            <a href="{{ url_for('index') }}">
        			<div id="logo">
        				<img src="{{ url_for('images', filename='logotipo.png') }}" alt="logo"/>
        			</div>
			</a>
            
			<a href="{{ url_for('basket') }}">
				<div id="carrito">
					<img src="{{ url_for('images', filename='carrito.png') }}" alt="carrito"/>
				</div>
			</a>
			
		</div>
		
		<div id="menu">
			
			<div id="user_info">
			
				{% if user %}
				<img src="{{ url_for('images', filename='imagen.jpg') }}" alt="foto-perfil"/>
				<h1>{{ user }}</h1>
				<a href="{{ url_for('close') }}" id="botonCerrarSesion">Cerrar Sesión</a>
				{% else %}
				<h1>Usuario no identificado</h1>
				<a href="{{ url_for('login') }}" id="botonLogin">Identifiquese</a><br>
				<a href="{{ url_for('sing_in') }}" id="botonRegistro">Registrarse</a>
				{% endif %}
			
                <div id="conec_u">Usuarios conectados: <span id="conected_users">4</span></div>
            
			</div>
			
			<div class="links">
				
                {% if user %}
        				{% block menu %}
        				<a href="{{ url_for('index') }}">Últimas Películas</a>
        				<a href="{{ url_for('history') }}">Historial de Compra</a>
        				<a href="{{ url_for('basket') }}">Carrito</a>
        				{% endblock %}
                {% else %}
    				{% if search %}
						<a href="{{ url_for('index') }}">Últimas Películas</a>
						<a href="{{ url_for('basket') }}">Carrito</a>
						<p>Resultados de la Búsqueda</p>
					{% else %}
						<a href="{{ url_for('index') }}">Últimas Películas</a>
						<a href="{{ url_for('basket') }}">Carrito</a>
					{% endif %}
				{% endif %}
				
			</div>
			
			<div id="search">
			
				<form action="search" method="GET">
					<input type="text" name="search" placeholder="Buscar" class="input_text especial">
					<select name="programa" class="input_text especial">    
					   <option value="titulo" selected="selected">Titulo</option>
					   <option value="director">Director</option>
					</select>
					<input id="button_search" type="submit" value="Submit" class="button">
				</form> 
			
			</div>
			
		</div>
		
		<div id="body">
			
			{% block content %}{% endblock %}
		
		</div>
		<div class="footer">
		
			<p>Alberto Moreno Brasero y Jorge Muñoz Aguado</p>
		
		</div>
	</body>
</html>
